* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ALL */
body {
    height: 100vh;
    background: linear-gradient(180deg, #009688 10%, #DADBD4 10%);
    overflow-y: hidden;
}

img {
    border-radius: 50%;
}

.grey-text {
    color: grey;
    font-size: 0.9rem;
}

.flex {
    display: flex;
}

.img-avatar {
    width: 8%;
    margin-left: 10px;
}

.icons {
    font-size: 1.2rem;
    display: flex;
    color: #B1B1B1;
    padding-right: 20px;
    gap: 20px;
}

/* BOX  */
.box {
    width: 85%;
    margin: 20px auto;
    height: 95vh;
    display: flex;
}

/* ASIDE */
aside {
    width: 550px;
    height: 95vh;
    background-color: whitesmoke;
}

.aside-top {
    height: 60px;
    background-color: #EAEAEA;
    border-right: 1px solid #DADBD4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-chat {
    list-style-type: none;
}

.list-chat li {
    background-color: white;
    border: 1px solid #DADBD4;
    height: 75px;
    display: flex;
    align-items: center;
} 

.name-users {
    margin-left: 10px;
}

/* NOTICE  */
.notice {
    height: 65px;
    display: flex;
    background-color: lightskyblue;
    align-items: center;
}

.bell {
    border-radius: 50%;
    background-color: white;
    color: lightskyblue;
    padding: 10px;
    margin: 20px;
}

/* INPUT */
.new-chat {
    height: 50px;
    padding: 10px;
    background-color: #EAEAEA;
}

.wrap-filter {
    height: 100%;
    background-color: white;
    align-items: center;
    border: 1px solid #EAEAEA;
}

.filter {
    margin-left: 20px;
}

.chat-input {
    width: 400px;
    margin-left: 20px;
    border: none;
}

.glass {
    border-right: 1px solid #EAEAEA;
}

/* CHAT */
.box-chat {
    width: calc(100% - 550px);
    height: 95vh;
}

.profile-chat {
    margin-left: 15px;
}

/* CONTATTO CHAT */
.chat-top {
    height: 60px;
    background-color: #EAEAEA;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* CHAT MESSAGGI  */
.chat {
    height: calc(100% - 120px);
    background-image:url(../img/mine.jpg) ;
}

.white-mex {
    width: 30%;
    font-size: 1.1rem;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
}

.green-mex {
    width: 30%;
    font-size: 1.1rem;
    background-color: #D5F9BA;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.green-wrap {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}

.white-wrap {
    display: flex;
    justify-content: flex-start;
    margin-left: 50px;
}

/* SCRIVERE IL MESSAGGIO */
.input-message {
    height: 60px;
    background-color: #EAEAEA;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.smile, 
.audio {
    margin: 10px;
}

.message {
    border: none;
    height: 30px;
    width: 500px;
    padding: 10px;
}

